* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#a {
    margin: 2vh auto;
    width: 100vw;
}
#a2 {
    margin-bottom: 20px;
}
#a3 {
    text-align: center;
    font-weight: bold;
    margin: 50px;
}
#png {
    min-width: 400px;
    max-width: 400px;
    height: auto;
    border-top-left-radius: 20% 20%;
    border-top-right-radius: 20% 20%;
    border-bottom-left-radius: 20% 20%;
    border-bottom-right-radius: 20% 20%;
}
  #text {
        text-align: center;
        color: #f6c9cc;
    }
.text2 {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 100px;
    color: #fd97a4;
}
#text3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
#counter-button {
    background-color: #ee816d88;
    border: none;
    border-radius: 20px;
    color: #fdecf4;
    padding: 20px 200px;
    text-decoration: none;
    font-size: 2em;

  
    overflow: hidden;
    box-shadow: 20px 20px 20px -5px #ee816d;
}
#button2 {
    background-color: #ee816d88;
    border: none;
    border-radius: 20px;
    color: #fdecf4;
    padding: 20px 74px;
    text-decoration: none;
    font-size: 2em;

  
    overflow: hidden;
    box-shadow: 20px 20px 20px -5px #ee816d;
}
#footer {
    background-color: #fdecf4;
    color: #000000;
    padding: 20px 0vw;
    display: flex;
  
    align-items: center;
    justify-content: center;
  }
body {
    background-color: #f6c9cc;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: white;
    overflow-x: hidden;
    display: ;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
hr {
    border-bottom: 6px dashed white;
    border-top: none;
    border-left: none;
    border-right: none;
}
#global-counter {
    color: #ee816d;
    font-size: 2em;
}

#local-counter {
    color: #ee816d99;
    font-size: 0.75em;
}
#counter-button:hover {
    background-color: #fd97a4;
}
#counter-button span {
    position: absolute;
    border-radius: 10%;
    background-color: #abcde9;

    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;

    animation: ripple 1s;
    opacity: 3;
}

       
   .shell {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: ;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
            transition: 1s;
            background-color: #fdecf400;
            overflow: hidden;
            
            top: 0px;
            left: 0px;      
     color: #ee816d;
    padding: 20px 0px;
        }
    
   .shell2 {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: ;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
            transition: .8s;
            background-color: #fdecf400;
            overflow: hidden;
            
            top: 0px;
            left: 0px;      
     color: #ee816d;
    padding: 20px 0px;
    opacity: 0;
        }
    
        .shell:hover{
      
            height: 200px
        }
         .shell2:hover{
            opacity: 1;
        }
           .shell3:hover{
      
            height: 200px
        }
        
 .shell3 {
            width: 100%;
            height: 20px;
            display: flex;
            justify-content: ;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
            transition: 1s;
            background-color: #fdecf4;
            overflow: hidden;
            
            top: 0px;
            left: 0px;      
     color: #ee816d;
    padding: 20px 0px;
    opacity: 1;
        }
   .box {
            display: block;
            height: 20%;
            width: 40%;
            margin: 10px;
            border-radius: 100px;
            position: relative;
            transition: 2s;
            color: #ee816d;
        }












