* {
    margin: 0;
    padding: 0;
}
#a {
    margin: 2vh auto;
    width: 100vw;
}
#a2 {
    margin-bottom: 20px;
}
#a3 {
    text-align: center;
    font-weight: bold;
    margin: 50px;
}
#png {
    min-width: 400px;
    max-width: 400px;
    height: auto;
    border-top-left-radius: 20% 20%;
    border-top-right-radius: 20% 20%;
    border-bottom-left-radius: 20% 20%;
    border-bottom-right-radius: 20% 20%;
}
  #text {
        text-align: center;
        color: #f6c9cc;
    }
.text2 {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 100px;
    color: #fd97a4;
}
#text3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
#counter-button {
    background-color: #ee816d88;
    border: none;
    border-radius: 20px;
    color: #fdecf4;
    padding: 20px 200px;
    text-decoration: none;
    font-size: 2em;

    position: relative;
    overflow: hidden;
    box-shadow: 20px 20px 20px -5px #ee816d;
}
#footer {
    background-color: #fdecf4;
    color: #000000;
    padding: 20px 0vw;
    display: flex;
  
    align-items: center;
    justify-content: center;
  }
body {
    background-color: #f6c9cc;
    font-family: 'Roboto', sans-serif;
    font-size: 0em;
    color: white;
    overflow-x: hidden;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
hr {
    border-bottom: 6px dashed white;
    border-top: none;
    border-left: none;
    border-right: none;
}
#global-counter {
    color: #ee816d;
    font-size: 2em;
}

#local-counter {
    color: #ee816d99;
    font-size: 0.75em;
}
#counter-button:hover {
    background-color: #fd97a4;
}
#counter-button span {
    position: absolute;
    border-radius: 10%;
    background-color: #abcde9;

    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;

    animation: ripple 0.6s;
    opacity: 3;
}




















@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}





.footer-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
}

#twitter-footer-icon {
    color: #1d9bf0;
}

#github-footer-icon {
    color: #000000;
}





@media screen and (max-width: 2240px) {
    .grid-item {
        width: calc(20% - 10px);
    }
}

@media screen and (max-width: 1920px) {
    .grid-item {
        width: calc(25% - 10px);
    }
}

@media screen and (max-width: 1512px) {
    body {
        font-size: 1.25em;
    }

    #subtitle-seperator {
        margin-top: 3px;
        margin-bottom: 11px;
    }
}

@media screen and (max-width: 1280px) {
    .grid-item {
        width: calc(100% / 3 - 10px);
    }

    #footer {
        flex-wrap: wrap;
    }

  

    #footer-header-text {
        margin-bottom: 8px;
    }

    #footer-repository-text {
        margin-top: 16px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 1265px) {
    body {
        font-size: 1em;
    }

    #subtitle-seperator {
        margin-top: 6px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 854px) {
    .grid-item {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 510px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    #subtitle-seperator {
        margin-top: 8px;
        margin-bottom: 13px;
    }
}

@media screen and (max-width: 500px) {
    .grid-item {
        width: calc(100% - 10px);
    }
}

@media screen and (max-width: 430px) {
    h1 {
        font-size: 2em;
    }

    #subtitle-seperator {
        margin-top: 10px;
    }
}
